<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybbatis-3-mapper.dtd">

<mapper namespace="com.example.step4.DAO.UserDAO">

	<insert id="insertDAO" parameterType="User">
		INSERT INTO
			user(email, name, phonenumber, postcode5, address, details, password)
		VALUES
			(#{email}, #{name}, #{phoneNumber}, #{postcode5}, #{address}, #{details}, #{password})
	</insert>
	
	<select id="selectAllDAO" parameterType="Integer" resultType="hashmap">
		SELECT
			email, name, phonenumber
		FROM
			user
		ORDER BY
			email
		LIMIT
			#{start}, 10
	</select>
	<select id="countAllDAO" parameterType="User" resultType="Integer">
		SELECT
			count(*)
		FROM
			user
	</select>
	<select id="findDAO" parameterType="String" resultType="User">
		SELECT
			*
		FROM
			user
		WHERE
			email = #{email}
	</select>
	
	<update id="changePhoneDAO" parameterType="Map">
		UPDATE
			user
		SET
			phonenumber = #{phoneNumber}
		WHERE
			email = #{email}
	
	</update>
	<update id="changePasswordDAO" parameterType="Map">
		UPDATE
			user
		SET
			password = #{password}
		WHERE
			email = #{email}
	</update>
</mapper>